<div id=D__ID>
	<div class='g_section_title'>
		The structure of this application
		<div class=g_section_admin>
			<u id=code__ID style='cursor:pointer'>Source code of this section</u>
		</div>
	</div>
	<div style='border:1px solid #ccc'>
		<br><br>
		<div class=row style='padding-bottom:50px;'>
			<div class="col-lg-6" style='margin:0;padding:0'>
				<img src="__CURRENT_PATH__/structure.html.png" alt="" style='margin-left: 15px;object-fit:cover; width: 100%;'>
			</div>
			<div class="col-lg-6" style='align-self: center;'>
				<div class="item" style='max-width: 100%;margin-left:auto;margin-right:auto'>
					<div style='padding:20px'>
						<br>
						<h4>Modular Distributed Web Application</h4>
						<h6>Simple, powerful and elegant</h6>
						<hr style='border-top:1px solid #f05f40;'></hr>
						<p>A web application with shared reusable modules distributed on different static web servers around the world and maintained by different people with different skills.</p>
						<p>Each module can be connected to the module owner's individual database and file storage and the accesses are fully controlled by the module's owner.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function F__ID(){
			//---------------------------------------
			$('#code__ID').on('click',function(){
                window.open($vm.module_list['__MODULE__'].url.replace('__HOST__/','https://github.com/vmiis/online-profile/blob/master/'));
			})
			//---------------------------------------
		}
	</script>

	<style>
		.hr2__ID{
			height:1px;
			margin: 3px 0 12px 0;
			width:100%;
		}
	</style>
</div>
